{{ ui.render(field.get_field('mode')) }}
{{ ui.render(field.get_field('temp_name')) }}
{{ ui.render(field.get_field('original_name')) }}

{% if mode == 'existing' %}
    <a target="_blank" href="{{ value.base_url }}{{ value.filename }}">
        {{ widget.env.gettext('current file') }}
    </a><br/>
{% elif mode == 'temp' %}
    <a target="_blank" href="{{ temp_url }}{{ value.uid }}{{ value.ext }}">
        {{ widget.env.gettext('temporary file') }}
    </a><br/>
{% endif %}
{% if mode != 'empty' and not required %}
    {{ ui.render(field.get_field('delete')) }}<br/>
{% endif %}
<input type="file" name="{{ input_name }}" />
