<input type="hidden" name="{{ input_name }}__mode" value="{{ mode }}" />
{% if mode == 'existing' %}
    <a target="_blank" href="{{ value.base_url }}{{ value.filename }}">
        {{ widget.env.gettext('current file') }}
    </a><br/>
{% elif mode == 'temp' %}
    <a target="_blank" href="{{ temp_url }}{{ value.uid }}{{ value.ext }}">
        {{ widget.env.gettext('temporary file') }}
    </a><br/>
    <input type="hidden" name="{{ input_name }}__temp_name" value="{{ value.uid|escape }}{{ value.ext|escape }}" />
    <input type="hidden" name="{{ input_name }}__original_name" value="{{ value.name|escape }}" />
{% endif %}
{% if mode != 'empty' and null %}
  <label for="id-{{ input_name }}__delete">
    {{ widget.env.gettext('delete') }}
  </label>
  <input type="checkbox" name="{{ input_name }}__delete" id="id-{{ input_name }}__delete"
         {% if delete %}checked="checked"{% endif %} />
  <br/>
{% endif %}
<input type="file" name="{{ input_name }}__file" />
