{% macro render_option(option) -%}
  <option value="{{ option['value'] }}"{% if option['selected'] %} selected="selected"{% endif %}>{{ option['title'] }}</option>
{%- endmacro %}

<select name="{{ widget.input_name }}" id="{{ widget.id }}" {% if widget.multiple -%} multiple="multiple"{%- endif -%}
        {%- if readonly -%} readonly="readonly"{%- endif -%}
        {%- if widget.classname -%} class="{{ widget.classname }}"{%- endif -%}
        {%- if widget.size -%} size="{{ widget.size }}"{%- endif %}>
  {% for option in options -%}
    {%- if option['is_group'] -%}
      <optgroup label="{{ option['title'] }}">
        {%- for item in option['options'] -%}
          {{ render_option(item) }}
        {%- endfor -%}
      </optgroup>
    {%- else -%}
      {{ render_option(option) }}
    {%- endif -%}
  {%- endfor %}
</select>