<select id="{{ field.id }}" name="{{ field.input_name }}"
        {%- if field.multiple %} multiple="multiple"{% endif %}
        {%- if readonly %} readonly="readonly"{% endif %}
        {%- if widget.classname %} class="{{ widget.classname }}"{% endif %}
        {%- if widget.size %} size="{{ widget.size }}"{% endif %}>
  {% for option in options -%}
  <option value="{{ option.value|escape }}"
          {%- if option.selected %} selected="selected" class="selected"{% endif %}>
    {{- option.title|escape -}}
  </option>
  {%- endfor %}
</select>
