{{ field.get_field('mode').render()|safe }}
{{ field.get_field('temp_name').render()|safe }}
{{ field.get_field('original_name').render()|safe }}

{% set value = field.clean_value %}

{% if value %}
    <a target="_blank" href="{{ value.url }}">
        {% if value.mode == 'existing' %}
            current file
        {% else %}
            uploaded temporary file
        {% endif %}
    </a><br/>
    {% if not required %}
        {{ field.get_field('delete').render()|safe }}
        <label for="{{ field.get_field('delete').id }}">delete</label>
        <br/>
    {% endif %}
{% endif %}

{{ field.get_field('file').render()|safe }}
