{{ field.get_field('mode').render()|safe }}
{{ field.get_field('temp_name').render()|safe }}
{{ field.get_field('original_name').render()|safe }}

{% if mode == 'existing' %}
    <a target="_blank" href="{{ file_url }}">
        current file {#{ _('current file') }#}
    </a><br/>
{% elif mode == 'temp' %}
    <a target="_blank" href="{{ file_url }}">
        uploaded temporary file {#{ _('temporary file') }#}
    </a><br/>
{% endif %}
{% if mode != 'empty' and not required %}
    {{ field.get_field('delete').render()|safe }}
    <label for="{{ field.get_field('delete').id }}">delete</label>
    <br/>
{% endif %}


<input type="file" name="{{ field.input_name }}" />
