{{ ui.render_field(field.get_field('mode'))|safe }}
{{ ui.render_field(field.get_field('temp_name'))|safe }}
{{ ui.render_field(field.get_field('original_name'))|safe }}

{% if mode == 'existing' %}
    <a target="_blank" href="{{ file_url }}">
        current file {#{ _('current file') }#}
    </a><br/>
{% elif mode == 'temp' %}
    <a target="_blank" href="{{ file_url }}">
        uploaded temporary file {#{ _('temporary file') }#}
    </a><br/>
{% endif %}
{% if mode != 'empty' and not required %}
    {{ ui.render_field(field.get_field('delete'))|safe }}
    <label for="{{ field.get_field('delete').id }}">delete</label>
    <br/>
{% endif %}


<input type="file" name="{{ field.input_name }}" />
