{% for field in form.fields %}
  {% if field.error %}
  <tr class="error-row">
    <td colspan="2">
      <span class="error">{{ field.error }}</span>
    </td>
  </tr>
  {% endif %}
  <tr class="form-row{% if loop.last %} last{% endif %}{% if loop.first %} first{% endif %}{% if field.classname %} {{ field.classname }}{% endif %}">
  {% if field.render_type == 'checkbox' %}
    <th></th>
    <td>
      {{ field.render()|safe }}
      {% if field.label %}
      <label for="{{ field.id }}">{{ field.label }}</label>
      {% endif %}
    </td>
  {% elif field.render_type == 'hidden' %}
    <td style="display: none" colspan="2">{{ field.render()|safe }}</td>
  {% elif field.render_type == 'full-width' %}
    <td colspan="2">
      {% if field.label %}
      <p class="th"><label for="{{ field.id }}">{{ field.label }}</label></p>
      {% endif %}
      {{ field.render()|safe }}
    </td>
  {% else %}
    <th>
      {% if field.label %}
      <label for="{{ field.id }}">{{ field.label }}</label>
      {% endif %}
    </th>
    <td>
      {{ field.render()|safe }}
    </td>
  {% endif %}

  </tr>
{% endfor %}
