<table class="fieldset">
{% for subfield in field.fields %}
{% if subfield.readable %}
{% if subfield.error %}
  <tr class="error-row">
    <td colspan="2">
      <span class="error">{{ subfield.error }}</span>
    </td>
  </tr>
  {% endif %}
  <tr class="form-row{% if loop.last %} last{% endif %}{% if loop.first %} first{% endif %}{% if subfield.widget.classname is defined %} {{ subfield.widget.classname }}{% endif %}">
  {% if subfield.widget.render_type == 'checkbox' %}
    <th></th>
    <td>
      {{ subfield.widget.render()|safe }}
      {% if subfield.label %}
      <label for="{{ subfield.id }}">{{ subfield.label }}</label>
      {% endif %}
    </td>
  {% elif subfield.widget.render_type == 'hidden' %}
    <td style="display: none" colspan="2">{{ subfield.widget.render()|safe }}</td>
  {% elif subfield.widget.render_type == 'full-width' %}
    <td colspan="2">
      {% if subfield.label %}
      <p class="th"><label for="{{ subfield.id }}">{{ subfield.label }}</label></p>
      {% endif %}
      {{ subfield.widget.render()|safe }}
    </td>
  {% else %}
    <th>
      {% if subfield.label %}
      <label for="{{ subfield.id }}">{{ subfield.label }}</label>
      {% endif %}
    </th>
    <td>
      {{ subfield.widget.render()|safe }}
    </td>
  {% endif %}
  </tr>
{% endif %}
{% endfor %}
</table>
