<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
    <head>
        <title>{{ _('Example blog') }}</title>
        {% block css %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </head>
    <body>
        <form action="{{ url_for('change_language') }}" method="POST">
        <input type="submit" name="language" value="{% if language == 'en' %}ru{% else %}en{% endif %}" />
        </form>
        {% block content %}
        {% endblock %}
    </body>
</html>
