{% extends "layout.html" %}


{% block css %}
<style>
    ul.paginator li {list-style: none; display: inline;}
    ul.paginator li a.current-page {text-decoration: none; color: #900;}
    a {color: #000;}
    a.action {color: #900;}
</style>
{% endblock %}


{% block content %}

<h3>This is my small blog</h3>

{% if not paginator.items %}
<p>There is no posts yet</p>
{% endif %}

<ul>
    {% for post in paginator.items %}
    <li>
        <a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a>
        {% if auth_user %}
        <a class="action" href="{{ url_for('edit-post', id=post.id) }}">edit</a>
        <a class="action" href="{{ url_for('del-post', id=post.id) }}">delete</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if paginator.pages_count > 1 %}
<ul class="paginator">
    {% for p, url in paginator.pages %}
    <li><a {% if p == paginator.page %}class="current-page"{% endif %} href="{{ url }}">{{ p }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<div clas="actoins">
    {% if auth_user %}
    <a href="{{ url_for('add-post') }}">add post</a>
    <a href="{{ url_for('logout') }}">logout</a>
    {% else %}
    <a href="{{ url_for('login') }}">login</a>
    {% endif %}
</div>

{% endblock %}
